[Oo]bj
[Bb]in
[Dd]ebug*
![Dd]ebugTextWriter*
[Oo]ut
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
setup.exe
_UpgradeReport_Files/
UpgradeLog.XML
*.vspscc
*.vssscc
*.scc
*.sqlsuo
.idea
TestResult.xml
.project
TestResults/
NuGet.exe
[Pp]ackages/
builds/
*.tmp
*.ncrunch*
*.orig
_NCrunch*
node_modules
.idea
*.generated.*
!*.generated.cs
.vs/
artifacts/

# Thumbnails
._*
project.lock.json

# Logs
log-*.txt